h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  white-space: break-spaces;
}

.content {
  margin: 0 auto 0.5rem;
  max-width: 480px;
}

.start {
  text-align: center;
  white-space: break-spaces;
  font-size: 26px !important;
  padding-top: 5rem;
  padding-bottom: 2rem;
}
